  @import url("https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+Pro:ital,wght@1,300&display=swap");

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
  }

  html {
    scroll-behavior: smooth;
  }

  /*------------------------ Navbar styling------------------------ */

  /* Sticky */
  #Home {
    width: 100%;
    height: 100vh;
  }

  .sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #661144;
    z-index: 99;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: 0 0 2rem rgba(0, 0, 0.1);
    transition: all .5s ease-in-out;
  }

  .navbar {
    display: flex;
    padding: 15px;
    justify-content: space-between;
    font-size: 19px;
  }

  .logo a {
    font-size: 23px;
    font-weight: 700;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.97);
  }

  .logo span {
    color: rgb(74, 172, 246);
  }

  .nav {
    display: flex;
    align-items: center;
  }

  .nav li {
    list-style-type: none;
    margin-left: 40px;
    font-weight: 500;
    position: relative;
  }

  .nav li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.97);
  }

  .nav li:after {
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    display: block;
    transition: all 0.3s ease;
  }

  .nav li:hover::after {
    width: 100%;
    height: 3px;
    background-color: #fff;
  }

  /*-Navbar Mobile styling*/

  .hamburger-menu {
    position: fixed;
    background: #661144;
    width: 100%;
    height: 46px;
    z-index: 5;
    box-shadow: 0 0 2rem rgba(0, 0, 0.1);
    transition: all .5s ease-in-out;

  }

  #menu__toggle {
    opacity: 0;
  }

  #menu__toggle:checked+.menu__btn>span {
    transform: rotate(45deg);
  }

  #menu__toggle:checked+.menu__btn>span::before {
    top: 0;
    transform: rotate(0deg);
  }

  #menu__toggle:checked+.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menu__toggle:checked~.menu__box {
    left: 0 !important;
  }

  .menu__btn {
    position: fixed;
    top: 20px;
    left: 25px;
    width: 25px;
    height: 20px;
    cursor: pointer;
    z-index: 1;
  }

  .menu__btn>span,
  .menu__btn>span::before,
  .menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #b0abab;
    transition-duration: .25s;
  }

  .menu__btn>span::before {
    content: '';
    top: -8px;
  }

  .menu__btn>span::after {
    content: '';
    top: 8px;
  }

  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
  }

  .menu__item {
    display: block;
    padding: 18px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }

  .menu__item:hover {
    background-color: #CFD8DC;
  }

  .logo-menu {
    position: fixed;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    top: 20;
    top: 9px;
    left: 73px;
    color: rgba(255, 255, 255, 0.97);
  }

  .header {
    position: relative;
    text-align: center;
    background: linear-gradient(109.6deg, rgb(43, 1, 91) 13.4%, rgb(122, 2, 54) 100%);
    color: white;
  }

  .inner-header {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 150px;
  }

  .content {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: white;
  }

  /* Animation */

  .parallax>use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  }

  .parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 8s;
  }

  .parallax>use:nth-child(2) {
    animation-delay: -4s;
    animation-duration: 10s;
  }

  @keyframes move-forever {
    0% {
      transform: translate3d(-90px, 0, 0);
    }

    100% {
      transform: translate3d(85px, 0, 0);
    }
  }

  /*Shrinking for mobile*/
  @media (max-width: 900px) {
    .waves {
      height: 60px;
      min-height: 60px;
    }

    .content {
      height: 30vh;
    }
  }


  .con1 {
    background: linear-gradient(-45deg, #1565cd, #740850, #9b13c1, #125ac7);
    background-size: 800% 400%;
    padding: 9px 20px;
    display: inline-block;
    border: 1px solid;
    border-radius: 10px;
    font-size: 18px;
    border: 1.8px solid white;
    color: white;
    font-weight: 400;
    transition: all .5s ease-in-out;
    animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
  }
  .btnn {
    background: linear-gradient(-45deg, #1565cd, #740850, #9b13c1, #125ac7);
    background-size: 800% 400%;
    padding: 9px 20px;
    display: inline-block;
    top:78%;
    left: 58%;
    height:40px;
    position: absolute;
    z-index: 1;
    border: 1px solid;
    border-radius: 10px;
    font-size: 18px;
    border: 1.8px solid white;
    color: white;
    font-weight: 400;
    transition: all .5s ease-in-out;
    animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
  }

  



  .btn:hover {
    animation: gradient 2.5 s infinite;
    transform: scale(1.05);
  }

  .btn:active {
    animation: gradient 3s infinite;
    transform: scale(0.8);
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  /*------------------------ intro part------------------------ */

  .intro {
    display: flex;
    align-items: center;
  }

  .intro-content {
    display: flex;
    flex-direction: row;
    margin-top: 6em;
  }

  .intro-logo {
    flex: 1 35%;
  }

  .intro-logo img {
    border-radius: 50%;
    border: 5px solid;
    width: 20em;
  }

  .text1 {
    display: flex;
    position: relative;
    font-family: "Source Sans Pro";
    text-align: left;
    margin-left: 20px;
    flex-direction: column;
    justify-content: center;
  }

  .text1 h1 {
    font-size: 21px;
    font-weight: 500;
  }

  .text1 h1 :nth-child(2) {
    font-size: 55px;
    font-weight: 900;
    outline: none;
    text-transform: uppercase;
    background: linear-gradient(135deg, #5335cf 0%, #de005e 25%, #e16817 50%, #d2a211 75%, #5335cf 100%);
    background-size: 400%;
    background-clip: padding-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 10s linear infinite;
  }

  @keyframes animate {
    to {
      background-position: 400%;
    }
  }

  .text1 h3 {
    font-size: 22px;
    font-weight: 400;
    color: rgba(232, 230, 230, 0.803);
  }

  .auto-type {
    color: rgba(2, 79, 233, 0.97);
    font-size: 35px;
    font-weight: 800;
  }


  @media (max-width: 900px) {

    .intro {
      display: flex;
      justify-content: center;
      height: 70vh;
    }

    .intro-logo img {
      width: 150px;
    }

    .intro-content {
      flex-direction: column;
    }

    .text1 {
      text-align: center;
      margin: 20px;
      font-size: 15px;
    }

  }

  #social {
    margin-top: 10px;
  }

  #social li {
    display: inline-block;
    list-style-type: none;
    margin: 8px;
  }


  .border {
    background: transparent;
    outline: none;
    color: white;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    border: 2px solid white;
    transition: all 0.2s ease-in-out;
  }

  .border li {
    width: 50px;
    height: 50px;
  }

  /** linkedin **/


  .linkedin .border:hover {
    background: #3a69cf;
    border-color: #ffffff;
    color: rgba(255, 255, 255, 0.9);
    transform: scale(1.2);
  }

  .fa.fa-linkedin {
    font-size: 25px;
  }

  /** Twitter **/
  .twitter .border:hover {
    background: #00aced;
    border-color: #72c6e6;
    color: white;
    transform: scale(1.2);
  }

  .fa.fa-twitter {
    font-size: 25px;
  }

  /** Instagram **/


  .instagram .border:hover {
    background: #e04f6c;
    border-color: #f0c9ef;
    color: rgba(255, 255, 255, 0.9);
    transform: scale(1.2);
  }

  .fa.fa-instagram {
    font-size: 25px;

  }

  /** github **/

  .github .border:hover {
    background: #060002;
    border-color: #ffffff;
    color: white;
    transform: scale(1.2);
  }

  .fa.fa-github {
    font-size: 25px;
  }

  #social ul li {
    transition: ease 0.3s;
  }

  #social ul:hover>li {
    opacity: 0.5;
  }

  #social ul:hover>li:hover {
    opacity: 1;
  }

  @media (max-width: 900px) {
    #social {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    #social li {
      margin: 3px;
    }

    .border {
      height: 40px;
      width: 40px;
    }
  }


  /*------------------------ About Section----------------------- */

  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #66114432;
  }

  .about .about-title {
    font-size: 40px;
  }

  .about .about-title h1 {
    margin: 100px;
    text-transform: uppercase;
  }

  .about .about-content {
    margin: 50px;
    display: flex;
  }

  .s1 {
    margin-right: 25px;
  }

  .s1 h3 {

    font-size: 25px;
    font-weight: 400;
  }

  .s1 h3 span {
    font-weight: 700;
  }

  .des {
    width: 600px;
    font-size: 25px;
  }


  @media (max-width: 900px) {
    .about {
      height: 100vh;
      margin: 0;
    }


    .about-content {
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }

    .about .about-title h1 {
      font-size: 40px;
      margin: 0;
      padding-top: 40px;
      text-transform: uppercase;
    }

    .s1 {
      margin: 0px;
    }

    .s1 h3 {
      font-size: 19px;
      font-weight: 400;
      margin-right: 0;
    }

    .s1 h3 span {
      font-weight: 600;
    }

    .des {
      width: 300px;
      font-size: 20px;
      margin-top: 20px;
    }
  
  }


  /*------------------------Skill Section------------------------ */

  .skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;

  }

  .skill-title {
    text-align: center;
    font-size: 40px;
  }

  .skill-title h1 {
    margin: 50px;
    text-transform: uppercase;
  }

  .skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px;

  }

  .row1,
  .row2 {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
  }

  .col {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 5px 0 5px;
  }

  .col .pr {
    font-size: 20px;
    font-weight: 500;
  }

  .progress {
    background: rgba(203, 203, 203, 0.641);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 2px;
    display: flex;
    height: 20px;
    width: 100%;
    margin: 2px 100px 2px 0px;
    box-shadow: 0 10px 40px -10px rgb(78 78 78);

  }

  .progress-value {

    position: absolute;
    border-radius: 100px;
    background: #86185a;
    height: 10px;
  }

  .html {
    width: 95%;
    animation: load1 3s normal forwards;
  }

  .css {
    width: 80%;
    animation: load2 3s normal forwards;
  }

  .js {
    width: 65%;
    animation: load3 3s normal forwards;
  }

  .bt {
    width: 80%;
    animation: load4 3s normal forwards;
  }

  .tw {
    width: 60%;
    animation: load5 3s normal forwards;
  }

  .rt {
    width: 50%;
    animation: load6 3s normal forwards;
  }

  .gt {
    width: 90%;
    animation: load7 3s normal forwards;
  }

  .java {
    width: 70%;
    animation: load8 3s normal forwards;
  }

  .cpp {
    width: 50%;
    animation: load9 3s normal forwards;
  }

  .py {
    width: 90%;
    animation: load10 3s normal forwards;
  }

  .db {
    width: 75%;
    animation: load11 3s normal forwards;
  }

  .dsa {
    width: 55%;
    animation: load12 3s normal forwards;
  }

  @keyframes load1 {
    0% {
      width: 0;
    }

    100% {
      width: 95%;
    }
  }

  @keyframes load2 {
    0% {
      width: 0;
    }

    100% {
      width: 80%;
    }
  }

  @keyframes load3 {
    0% {
      width: 0;
    }

    100% {
      width: 65%;
    }
  }

  @keyframes load4 {
    0% {
      width: 0;
    }

    100% {
      width: 80%;
    }
  }

  @keyframes load5 {
    0% {
      width: 0;
    }

    100% {
      width: 60%;
    }
  }

  @keyframes load6 {
    0% {
      width: 0;
    }

    100% {
      width: 50%;
    }
  }

  @keyframes load7 {
    0% {
      width: 0;
    }

    100% {
      width: 90%;
    }
  }

  @keyframes load8 {
    0% {
      width: 0;
    }

    100% {
      width: 70%;
    }
  }

  @keyframes load9 {
    0% {
      width: 0;
    }

    100% {
      width: 50%;
    }
  }

  @keyframes load10 {
    0% {
      width: 0;
    }

    100% {
      width: 90%;
    }
  }

  @keyframes load11 {
    0% {
      width: 0;
    }

    100% {
      width: 75%;
    }
  }

  @keyframes load12 {
    0% {
      width: 0;
    }

    100% {
      width: 55%;
    }
  }


  @media (max-width: 900px) {
    .skill-title h1 {
      font-size: 40px;
    }

    .skill {
      height: 100%;
    }

    .skills {
      display: flex;
      flex-direction: column;
      margin: 40px;
    }

    .row1,
    .row2 {
      margin: 0;
    }

    .col .pr {
      font-size: 20px;
      font-weight: 500;
    }

    .progress {
      width: 100%;
    }

  }

  /*------------------------ Service section----------------------- */
  #Service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 90vh;
    background-color: #661144;
  }

  .service-title {
    text-align: center;
    font-size: 40px;
    padding: 40px;
    margin-top: -100px;
    text-transform: uppercase;

  }

  .service-title h1 {
    color: white;

  }

  .services {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

  }

  .scard {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 330px;
    width: 250px;
    background: rgb(240, 234, 216);
    position: relative;
    box-shadow: rgb(5 78 151 / 46%) 5px 5px 20px;
    text-align: center;
    border-radius: 10px;
    transition: all 0.3s ease-in 0s;
    margin: 45px;
  }

  .scard p {
    transition: all 0.3s ease-in;
    font-size: 20px;
  }

  .scard:hover {
    cursor: pointer;
    box-shadow: none;
  }

  .scard:hover p {
    transform: scale(1.4);
    color: #f8f9fa;
  }

  .scard::before {
    content: '';
    width: 100%;
    height: 0;
    background: #f13a68;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 10px;
    transition: 0.3s all ease-in-out;
  }

  .scard:hover::before {
    height: 100%;

  }

  @media (max-width: 900px) {
    #Service {
      height: 50vh;
    }

    .service-title h1 {
      font-size: 40px;
      margin-bottom: 40px;
    }

    .services {
      flex-direction: row;
    }

    .scard {
      width: 120px;
      height: 160px;
      margin: 5px;

    }

    .scard p {
      font-size: 15px;
    }


    .scard:hover p {
      transform: scale(1.2);
      color: #f8f9fa;
    }

  }

  /*------------------------ Project Section------------------------ */
  #Project {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: #ddb3cca3;
  }

  .project-title {
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    padding: 40px;
  }

  .project-content {
    display: flex;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0;
    margin-bottom: 100px;

  }

  .card {
    width: 300px;
    height: 400px;
    border-radius: 10px;
    padding: 1.9rem;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: 0.4s ease-out;
    box-shadow: 5px 10px 30px rgba(43, 8, 37, 0.2);
  }

  .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: 0.5s;
    border-radius: 10px;

  }

  .card-info {
    position: relative;
    z-index: 3;
    color: #f5f5f5;
    opacity: 0;
    transform: translateY(20%);
    transition: 0.5s;
  }

  /*Text*/
  .text-title {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .text-body {
    letter-spacing: 1px;
    font-size: 0.9rem;
    margin: 5px 0 15px 0;
  }

  /*Button*/
  .card-button {
    padding: 6px 10px;
    outline: none;
    border: none;
    border-radius: 4px;
    background: #b50edf;
    color: white;
    transition: 0.4s ease;
    margin-right: 6px;
    overflow: hidden;

  }

  /*Image*/
  .card-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

  }

  .card-img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  /*Hover*/
  .card:hover {
    transform: translateY(5%);
    box-shadow: 0px 7px 20px rgba(43, 8, 37, 0.437);
  }

  .card:hover:before {
    opacity: 1;
    background-color: #00000074;
    backdrop-filter: blur(5px);
  }

  .card:hover .card-info {
    opacity: 1;
    transform: translateY(0);

  }

  .card-button:hover {
    background: rgba(227, 42, 25, 0.721);
    color: #ffffff;
    font-weight: 500;
    border: 1px solid white;

  }


  @media (max-width: 900px) {

    #Project {
      height: 100%;
    }

    .project-title h1 {
      font-size: 40px;
    }

    .project-content {
      display: flex;
      align-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;

    }


    .card {
      width: 150px;
      height: 200px;
      margin: 6px;
    }

    .card-button {
      padding: 4px 8px;
      font-size: 12px;
      font-weight: 100;
    }

    .text-title {
      font-size: 15px;
      font-weight: 500;

    }

    .text-body {
      font-size: 12px;
    }


  }

  /*------------------------Contact && Footer------------------------ */
  #Contact {
    background-color: #000;
    width: 100%;
    height: 100%;
  }

  .section-header {
    text-align: center;
    font-size: 40px;
    padding: 50px;
    color: #fff;
    text-transform: uppercase;
  }



  .contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    max-width: 950px;
  }

  /* Left contact page */
  .form-horizontal {
    max-width: 450px;
  }

  #name,
  #email {
    height: 30px;
  }

  .form-control,
  textarea {
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    margin: 4px;
    border-radius: 5px;
  }

  .send-button {
    height: 30px;
    width: 450px;
    margin-left: 5px;
    overflow: hidden;
    transition: all .2s ease-in-out;
    border-radius: 5px;
    background-color: rgb(54, 147, 198);
    border: none;
  }

  .send-button i {
    font-size: 20px;
    color: white;
  }

  .alt-send-button {
    margin-top: 5px;
    transition: all .2s ease-in-out;
  }

  .send-text {
    display: block;
    margin: 10px;
    font: 700 15px 'Lato', sans-serif;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
  }

  .alt-send-button:hover {
    transform: translate3d(0px, -29px, 0px);
  }



  /* Begin Right Contact Page */
  .direct-contact-container {
    max-width: 400px;
  }

  /* Location, Phone, Email Section */

  .list-item {
    line-height: 4;
    color: #aaa;
    overflow-x: hidden;
  }

  .contact-text {
    font-size: 20px;
    letter-spacing: 1.9px;
    color: #bbb;
  }

  .place,
  .gmail,
  .phone {
    margin-left: 40px;
  }


  .contact-text a,
  .contact-text i {
    color: #bbb;
    text-decoration: none;
    transition-duration: 0.2s;
  }

  .contact-text a:hover,
  .contact-text i:hover {
    color: #fff;
    text-decoration: none;
  }

  /* Social Media Icons */
  .social-media-list {
    position: relative;
    font-size: 20px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .social-media-list li a {
    color: rgb(255, 255, 255);
  }

  .social-media-list li {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 50px;
    margin: 10px 3px;
    line-height: 50px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(27, 27, 27);
    cursor: pointer;
    transition: all .2s ease-in-out;
  }

  .social-media-list li:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all .2s ease-in-out;
  }

  .social-media-list li:hover {
    background-color: rgb(255, 255, 255);
  }

  .social-media-list li:hover:after {
    opacity: 1;
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
  }

  .social-media-list li:hover a {
    color: #000;
  }

  .copyright {
    margin-top: 10px;
    font-size: 14px;
    color: rgba(205, 201, 201, 0.619);
    letter-spacing: 1px;
    text-align: center;
  }

  hr {
    border-color: rgba(255, 255, 255, .6);
  }

  /* Begin Media Queries*/
  @media screen and (max-width:900px) {
    .contact-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .contact-text a,
    .contact-text i {
      font-size: 17px;
    }

    .direct-contact-container,
    .form-horizontal {
      margin: 0 auto;
      width: 100%;
    }

    .send-button {
      max-width: 100%;
    }

    .alt-send-button {
      width: 100%;
    }

    .direct-contact-container {
      margin-top: 20px;
      max-width: 310px;
    }

    .social-media-list li {
      height: 40px;
      width: 40px;
      line-height: 40px;
    }

    .social-media-list li:after {
      width: 40px;
      height: 40px;
      line-height: 40px;
    }

    .list-item {
      line-height: 3;
      font-size: 15px;
      margin: 0;
    }

    .place,
    .gmail,
    .phone {
      margin-left: 10px;
    }

  }

  .block {
    display: none;
  }
